In [1]:
import pandas as pd

In [11]:
Observed=[41,59]
Expected=[33,67]

In [12]:
Observed

[41, 59]

In [39]:
df=pd.DataFrame(columns={'Observed','Expected'})
df['Observed']=[41,59]
df['Expected']=[33,67]
df

   Observed  Expected
0        41        33
1        59        67

In [40]:
##Null Hypothesis : No significant difference between observed and expected.
## Alternative Hypothesis : Significant difference between observed and expected.

In [41]:
df['d']=df['Observed']-df['Expected']
df

   Observed  Expected  d
0        41        33  8
1        59        67 -8

In [42]:
Chi_Square=sum(df["d"]**2/df["Expected"])
Chi_Square

2.8946178199909545

In [43]:
Dof=len(df.index)-2

In [44]:
x=[[41,33],[59,67]]

p1=list(chi2_contingency(x))

p_value=p1[1]
p_value

0.3052651445190301

In [46]:
significance_level = 0.05
if p_value <= significance_level: 
    print('Reject NULL HYPOTHESIS') 
else: 
    print('ACCEPT NULL HYPOTHESIS')

ACCEPT NULL HYPOTHESIS