In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/gnewatia/Desktop/t-test_training_course.csv')

In [3]:
df.head()

   Before Course  After Course
0             44            53
1             40            38
2             61            69
3             52            57
4             32            46

In [6]:
df["d"]=df["Before Course"]-df["After Course"]
df['d^2'] = df['d'] ** 2
df.head()

   Before Course  After Course   d  d^2
0             44            53  -9   81
1             40            38   2    4
2             61            69  -8   64
3             52            57  -5   25
4             32            46 -14  196

In [5]:
from math import sqrt
t=sum(df["d"])/sqrt(((len(df)*sum(df['d^2']) - (sum(df['d']))**2) / (len(df)-1)))
t

-3.445359719553577

In [7]:
import scipy
import scipy.stats as stats
p=scipy.stats.t.sf(abs(t),df=len(df["d"])-1)

In [8]:
if p > 0.05:
    print(" Reject null hypothesis:There is  significant difference between the pre and after score")
else:
    print(" Accept null hypothesis : There is No significant difference between the pre and after score")

 Accept null hypothesis : There is No significant difference between the pre and after score